// Breakpoints
$breakpointXS: 0px;
$breakpointSM: 600px;
$breakpointMD: 960px;
$breakpointLG: 1280px;
$breakpointXL: 1920px;

// Colors
$background: #eaeaea;
$linkColor: #CEFFB5;
$linkDark: #A5CC91;
$border: #2a2a2a;
$wrapperBackground: #444;
$sectionBackground: #666;
$textDim: #aaa;
$textBright: #eaeaea;
$textDark: #2a2a2a;