@use 'theme';

.about-wrapper {
  .about-inner-wrapper {
    display: flex;
    padding: 32px;
    flex-direction: row;
  }
  .about-profile-picture {
    display: block;
    width: 40%;
    margin: 0 auto auto;
    padding: 16px;
  }
  .about-text {
    width: 45%;
    padding: 16px;
    color: theme.$textBright;
    font-weight: 300;
    >div {
      margin-bottom: 16px;
    }
  }
}

@media (max-width: theme.$breakpointSM) {
  .about-wrapper {
    .about-inner-wrapper {
      flex-direction: column-reverse;
    }
    .about-text {
      width: 100%;
    }
    .about-profile-picture {
      width: calc(100vh - 96px);
      max-width: calc(100vw - 96px);
    }
  }
}