.splash-container,
canvas {
  min-height: inherit;
  height: 100%;
}

canvas {
  display: block;
  box-sizing: border-box;
  z-index: 1;

  :text {
    position: relative;
    height: 50%;
    width: 50%;
  }
}