@use 'theme';

.projects-wrapper .project-panel-wrapper {
  border-bottom: 2px solid black;
  color: theme.$textBright;

  .project-panel-header {
    height: 220px;
    padding: 0;
    align-items: start;

    background-position-x: 100%;
    background-position-y: center;
    background-size: auto 240px;
    transition: height 0.25s;
    
    >div {
      height: 100%;
      padding: 12px 24px;
      background: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
    }
    .project-expansion-icon {
      margin-bottom: -8px;
    }

    &.panel-expanded {
      height: 120px;

      .project-expansion-key,
      .project-short-description {
        height: 0;
        opacity: 0;
        pointer-events: none;
      }
      .project-panel-header-text-wrapper {
        border-bottom-color: rgba(0, 0, 0, 0);
      }
    }
    &.panel-empty {
      cursor: default;
    }
    &:not(.panel-expanded):not(.panel-empty):hover {
      height: 240px;

      .project-expansion-key {
        color: theme.$linkBright;
      }
    }
  }
  .project-panel-header-text-wrapper {
    height: 100%;
    width: 45%;
    border-bottom: 1px solid theme.$textBright;
  }

  .project-title,
  .project-date,
  .project-short-description {
    display: block;
    width: 100%;
  }

  .project-title {
    margin: 6px 0 0;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: theme.$textBright;
  }
  .project-date {
    margin: 4px 0 0;
    font-size: 1.1rem;
    font-weight: 300;
    color: theme.$textBright;
  }
  .project-short-description {
    margin: 18px 0 0;
    font-size: 1rem;
    font-weight: 300;
    color: theme.$textBright;
    transition: all 0.2s;
  }
  .project-expansion-key {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0 0 16px;
    font-size: 1.1rem;
    color: theme.$linkDim;
    font-weight: 300;
    transition: color 0.25s;
  }
  
  .project-content-information {
    height: max-content;
    width: 100%;
    font-weight: 300;
  }
  .project-content-media {
    position: relative;
    float: right;
    width: 50%;
    margin: 16px;
    padding: 0 24px;

    &:hover button.media-slider-fullscreen-button {
      opacity: 1;
    }
  }
  .project-content-text {
    height: 100%;
    width: calc(45% - 32px);
    border-bottom: 1px solid theme.$textBright;
    .project-collapse {
      padding: 12px 8px;
      color: theme.$linkDim;
      transition: color 0.2s, padding 0.2s;
      cursor: pointer;

      .project-expansion-icon {
        margin-bottom: -8px;
        transform: rotateX(180deg);
      }
      &:hover {
        padding: 16px 8px;
        color: theme.$linkBright;
      }
    }
  }
  .project-text-box {
    padding: 18px 12px 0;

    &:last-child {
      padding-bottom: 12px;
    }
  }
  .project-long-description {
    span {
      display: block;
      font-size: 1.25rem;
      padding-bottom: 4px;
    }
    p {
      margin: 0;
    }
    p:not(:last-child) {
      margin: 0 0 18px;
    }
  }
  .project-link {
    font-size: 1.25rem;
    a {
      color: theme.$linkColor;
      text-decoration: none;
    }
  }
  .project-tech-list-wrapper .project-tech-list {
    margin: 0;
    padding: 4px 24px;
  }
}


button.media-slider-fullscreen-button {
  position: absolute;
  bottom: 0;
  right: 32px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  color: theme.$textDim;
  border: none;
  cursor: pointer;
  transition: opacity 0.25s;
  
  svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: color 0.15s;
  }

  &:hover {
    color: theme.$textBright;
  }
}
    
.media-slide-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.media-slider-fullscreen-wrapper {
  display: flex;
  position: relative;
  width: calc(100vw - 96px);
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  .media-slider-fullscreen-inner {
    display: flex;
    position: relative;
    margin-right: 64px;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12);
    z-index: 10000;
    align-items: center;
    justify-content: center;
    background: black;
  }

  button.media-slider-fullscreen-button {
    right: 0;
    opacity: 1;
  }

  .media-slider-fullscreen {
    margin: 0 32px;
    width: 100%;
  }
}

@media (max-width: theme.$breakpointMD) {
  .projects-wrapper .project-panel-wrapper {
    .project-panel-header {
      height: 150px;
      background-size: auto 150px;

      >div {
        align-items: baseline;
      }
    }

    .project-title,
    .project-date {
      display: inline-block;
    }
    .project-title {
      font-size: 1.5rem;
    }
    .project-expansion-key,
    .project-date {
      font-size: 0.9rem;
    }

    .project-content-media {
      float: none;
      width: calc(100% - 32px);
    }
    .project-content-text {
      width: 100%;
    }
  }
  
  button.media-slider-fullscreen-button {
    right: 40px;
    width: 32px;
    height: 32px;
    opacity: 1;
  }
}