@use 'theme';

.resume-wrapper {
  .resume-inner {
    min-height: inherit;
    padding: 16px;
  }

  .resume-background, 
  .react-pdf__Page {
    display: flex;
    align-items: center;
    justify-content: center;

    canvas {      
      box-shadow: 0 0 8px 0 #000;
    }
  }
  div.react-pdf__Page {
    height: 100%;
    align-items: flex-start;
  }

  .annotationLayer {
    display: none;
  }

  .resume-opener {
    height: 32px;
    text-align: center;
    a {
      color: theme.$linkBright;
      text-decoration: none;
    }
  }
}