@use 'theme';

.resume-wrapper {
  height: calc(100vh - 48px);
  
  div {
    height: 100%;
  }

  .resume-background, 
  .react-pdf__Page {
    display: flex;
    align-items: center;
    justify-content: center;

    canvas {      
      box-shadow: 0 0 8px 0 #000;
    }
  }
  div.react-pdf__Page {
    padding-top: 16px;
    align-items: flex-start;
  }

  .annotationLayer {
    display: none;
  }
}